<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/mvc
	   http://www.springframework.org/schema/mvc/spring-mvc.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:property-placeholder location="classpath:jdbc.properties, classpath:rAccountData.properties"/>
	<!--配置dataSource数据源-->
	<bean id="druidDataSource" class="${spring.datasource.type}">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>

	<!--启用MVC注解-->
	<mvc:annotation-driven/>
	<!--加载网页资源-->
	<mvc:resources mapping="/js/**" location="/js/"/>
	<mvc:resources mapping="/css/**" location="/css/"/>
	<mvc:resources mapping="/iconfont/**" location="/iconfont/"/>
	<!--加载controller-->
	<context:component-scan base-package="cn.apkr.controller"/>

<!--	&lt;!&ndash;配置事务管理器&ndash;&gt;-->
<!--	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
<!--		<property name="dataSource" ref="druidDataSource"/>-->
<!--	</bean>-->
<!--	&lt;!&ndash;开启事务注解&ndash;&gt;-->
<!--	<tx:annotation-driven transaction-manager="txManager"/>-->

	<!--传统MyBatis-->
<!--	<bean id="resources" class="org.apache.ibatis.io.Resources" factory-method="getResourceAsStream">-->
<!--		<constructor-arg name="resource" value="mybatisConf.xml"/>-->
<!--	</bean>-->
<!--	&lt;!&ndash;无参构造方法&ndash;&gt;-->
<!--	<bean id="builder" class="org.apache.ibatis.session.SqlSessionFactoryBuilder"/>-->
<!--	&lt;!&ndash;实例工厂方法&ndash;&gt;-->
<!--	<bean id="sessionFactory" factory-bean="builder" factory-method="build">-->
<!--		<constructor-arg name="inputStream" ref="resources"/>-->
<!--	</bean>-->
	<!--MyBatis-Spring-->
	<!--将SqlSessionFactory存储到spring容器-->
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--数据源设置为druid数据库连接池-->
		<property name="dataSource" ref="druidDataSource"/>
		<!--设置pojo包路径-->
		<property name="typeAliasesPackage" value="cn.apkr.domain"/>
	</bean>
	<!--扫描指定的包，产生Mapper对象存储到spring容器-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.apkr.mapper"/>
	</bean>
	<bean id="complexDataService" class="cn.apkr.service.impl.ComplexDataServiceImpl">
		<property name="complexDataMapper" ref="complexDataMapper"/>
		<property name="courseMapper" ref="courseMapper"/>
		<property name="scoreMapper" ref="scoreMapper"/>
	</bean>
	<bean id="studentService" class="cn.apkr.service.impl.StudentServiceImpl">
		<property name="studentMapper" ref="studentMapper"/>
	</bean>
	<bean id="courseService" class="cn.apkr.service.impl.CourseServiceImpl">
		<property name="courseMapper" ref="courseMapper"/>
	</bean>
	<bean id="scoreService" class="cn.apkr.service.impl.ScoreServiceImpl">
		<property name="scoreMapper" ref="scoreMapper"/>
	</bean>
	<bean id="userService" class="cn.apkr.service.impl.UserServiceImpl">
		<property name="userMapper" ref="userMapper"/>
	</bean>


</beans>