* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #444;
}

#title-bg {
    margin-top: 50px;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    font-size: 36px;
    color: #aaa;
}