<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：名称空间 -->
<mapper namespace="cn.apkr.mapper.CourseMapper">

    <resultMap id="courseResultMap" type="course">
        <result column="course_name" property="courseName"/>
        <result column="teacher_name" property="teacherName"/>
    </resultMap>
    
    <!--查询-->
    <select id="selectCourse" resultMap="courseResultMap">
        select * from j08l_course
        <where>
            <if test="cid != null">
                and `cid` = #{cid}
            </if>
            <if test="courseName != null">
                and `course_name` like #{courseName}
            </if>
            <if test="teacherName != null">
                and `teacher_name` like #{teacherName}
            </if>
        </where>
    </select>
    <select id="selectAll" resultMap="courseResultMap">
        select * from j08l_course;
    </select>

    <!--添加-->
    <insert id="insertCourse" parameterType="course">
        insert into j08l_course values (#{cid}, #{courseName}, #{teacherName})
    </insert>

    <!--修改-->
    <update id="updateCourseById" parameterType="course">
        update j08l_course
        <set>
            <if test="courseName != null">
                `course_name` = #{courseName},
            </if>
            <if test="teacherName != null">
                `teacher_name` = #{teacherName},
            </if>
        </set>
        where `cid` = #{cid}
    </update>

    <!--删除-->
    <delete id="deleteCourse" parameterType="course">
        delete from j08l_course
        <where>
            <if test="cid != null">
                and `cid` = #{cid}
            </if>
            <if test="courseName != null">
                and `course_name` = #{courseName}
            </if>
            <if test="teacherName != null">
                and `teacher_name` = #{teacherName}
            </if>
        </where>
    </delete>

</mapper>
